@media screen and (orientation:landscape){
    .artwork-parent{
        grid-template-areas: "image-cont text-cont " "image-cont sound-cont";
        grid-template-rows: 80% 20%; 
        grid-template-columns: 60% 40%;
    }
}

@media screen and (orientation:portrait){
    .artwork-parent{
        grid-template-areas: "image-cont" "text-cont" "sound-cont";
        grid-template-rows: 60% 20% 10%; 
    }
}

p.chosen-text{
    margin: 10%;
}

.artwork-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.artwork-parent{
    display: grid;
    height: 100%;
    width: 100%;
}

div.svg{
    height: 80%;
    width: 80%;
}

svg{
    height: 100%;
    width: 100%;
}


.svg-container{
    grid-area: image-cont;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container{
    grid-area: text-cont;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound-container{
    grid-area: sound-cont;
    display: flex;
    justify-content: center;
    align-items: center;
}