@media screen and (orientation:landscape){
    .artwork-container{
        height: 70vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .artwork-parent{
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-areas: "image-cont text-cont" "image-cont sound-cont"
    }

    .svg-container{
        grid-area: image-cont;
    }
    .text-container{
        grid-area: text-cont;
    }
    .sound-container{
        grid-area: sound-cont;
    }

}