/* For whole document*/

:root{
  --charcoal: #373737;
  --grey: #767676;
  --grey-light: #E6E6E6;
  --orange-rusty: #be4f0c;
  --orange-deep: #FF5A09;
  --orange-light: #ec7f37;
}
.parent-element {
  text-align: center;
  background-color:var(--charcoal);
  font-style: "Open Sans";
  color: var(--grey-light);
  font-weight: 100;
}

h4{
  font-weight: 100;
}

/* Header */

header {
  background-color: transparent;
  color: var(--orange-deep);
  font-size: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1{
  font-size: 6vh;
  margin:2px 5%;
  font-weight:100;
}

hr{
  border-color:var(--grey-light);
}

/* Buttons */ 

button:focus {outline:0;}

/* Artwork buttons*/

button.artwork-button, button.theme-button{
  background-color:transparent;
  border: 3px solid var(--grey-light);
  color: var(--grey-light)
}

button.artwork-button{
  border-width: 3px;
}

button.theme-button{
  border-width: 1px;
  margin:5px;
  height: 5%;
}

button.artwork-button.chosen, button.theme-button.chosen {
  border-color: var(--orange-deep);
}

button.artwork-button.chosen:hover, button.theme-button.chosen:hover {
  border-color: var(--orange-deep);
}

button.artwork-button:hover, button.theme-button:hover{
  border-color: var(--orange-light);
}


/*Menu*/

button.menu-button{
  height: 6vh;
  width: 6vw;
  margin-left: 5%;
  align-items: center;
  justify-content: space-evenly;
  padding:0;
  border: 0px;
  background-color: transparent;
}

button.menu-button:active hr{
  border-color: var(--orange-deep);
}

button.menu-button hr{
  margin:2px;
  width: 6vw;
}



/* Layout for different screen types*/

/* With category menu*/
@media (orientation:portrait),(max-width:767px) and (orientation:landscape){
  header{
    height: 10vh;
  }
  .parent-element{
    display: flex;
    flex-direction: column;
  }

  button.menu-button{
    display:flex;
    flex-direction: column;
    transform: translateX(0);
    transition: transform ease-in-out 0.3s;
  }

  button.menu-button.menu-open{
    transform: translateX(60vw);
    transition: transform ease-in-out 0.3s;
  }

  .theme-choice-container{
    order: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transform:translateX(-100%);
    transition: transform ease-in-out 0.3s;
    width: 60vw;
    background-color: var(--grey);
    overflow-y:auto;
  }

  .theme-choice-container.menu-open{
    transform:translateX(0);
    transition: transform ease-in-out 0.3s;
  }
  
  .artwork-container{
    order: 2;
    height: 80vh;
  }

  .artwork-choice-container{
    order: 3;
    height: 10vh;
  }

  button.artwork-button{
    height: 100%;
    width: 25%;
  }
}


/* Mobile portrait, Pad portrait*/
@media screen and (orientation:portrait){}


/* Mobile landscape*/
@media screen and (max-width:767px) and (orientation:landscape){}


/* Desktop, Pad landscape */
@media screen and (min-width:768px) and (orientation:landscape){
  .menu-button, .close-menu{
    display:none;
  }
  .parent-element{
    display:grid;
    grid-template-areas: "header header " "choice empty" "artwork categories";
    grid-template-rows: 10vh 10vh 80vh;
    grid-template-columns: 80vw 20vw;
  }

  .theme-choice-container{
    display:flex;
    flex-direction: column;
    grid-area:categories;
    height: 100%;
    overflow-y: auto;
  }
  
  header{
    grid-area:header;
  }
  
  .artwork-choice-container{
    grid-area:choice;
  }
  
  .artwork-container{
    grid-area:artwork;
  }

  button.artwork-button{
    height: 90%;
    margin: 0.5%;
    width: 24%;
    padding: 0;
  }
}







/* example of timed transition, nice to have if we want to implement this somewhere
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
