


/* Header */

header {
  background-color: transparent;
  color: var(--orange-deep);
  font-size: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1{
  font-size: 6vh;
  margin:2px 5%;
  font-weight:100;
}

hr{
  border-color:var(--grey-light);
}

h4{
  font-weight: 100;
}

/* Hamburger menu*/

.hamburger-cont{
  position: fixed;
  top:0;
  left:10px;
  z-index:1;
  height: 10vh;
  transform: translateX(0);
  transition: var(--transition)
}

.hamburger-cont.menu-open{
  transform: translateX(60vw);
}

.hamburger-cont .menu-button{
  position: absolute;
  top:0;
  left:0;
  z-index:2;
  cursor: pointer;
  width: 50px;
  height: 10vh;
  opacity: 0;
  border: 0px;
}

.hamburger-cont .hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width:50px;
  height:10vh;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Center line*/
.hamburger-cont .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

/*Top and bottom line*/
.hamburger-cont .hamburger > div:before,
.hamburger-cont .hamburger > div:after{
  content:'';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.hamburger-cont .menu-button:active + .hamburger > div{
  background-color: var(--orange-deep);
}

.hamburger-cont.menu-open{
  z-index: 2;
}

/*Moves bottom line down*/
.hamburger-cont .hamburger > div:after{
  top: 10px;
}
/*Rotation*/

.hamburger-cont.menu-open .hamburger > div{
  transform: rotate(135deg);
}

.hamburger-cont.menu-open .hamburger > div:before, 
.hamburger-cont.menu-open .hamburger > div:after{
  top: 0;
  transform: rotate(90deg);
}




/* Overlay */

div.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}



/* Buttons */ 

button{
  font-family: var(--font-family);
  font-weight: 100;
}
button:focus {outline:0;}

/* Artwork and themes buttons*/

button.artwork-button, button.theme-button{
  background-color:transparent;
  border: 3px solid var(--grey-light);
  color: var(--grey-light)
}

button.artwork-button{
  border-width: 3px;
}

button.theme-button{
  border-width: 1px;
  margin:5px;
  height: 5%;
}

button.artwork-button.chosen, button.theme-button.chosen {
  border-color: var(--orange-deep);
}

button.artwork-button.chosen:hover, button.theme-button.chosen:hover {
  border-color: var(--orange-deep);
}

button.artwork-button:hover, button.theme-button:hover{
  border-color: var(--orange-light);
}




/* Layout for different screen types*/

/* With category menu*/
@media (orientation:portrait),(max-width:767px) and (orientation:landscape){
  header{
    height: 10vh;
  }

  header h1{
    margin-left: 80px;
  }
  .parent-element{
    display: flex;
    flex-direction: column;
  }

  .theme-choice-container{
    order: 1;
    position: fixed;
    left:-60vw;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transform:translateX(0);
    transition: var(--transition);
    width: 60vw;
    background-color: var(--grey);
    overflow-y:auto;
    z-index:inherit;
  }

  .theme-choice-container.menu-open{
    transform:translateX(100%);
    transition: var(--transition);
    z-index: 2;
  }
  
  .artwork-container{
    order: 2;
    height: 80vh;
  }

  .artwork-choice-container{
    order: 3;
    height: 10vh;
  }

  button.artwork-button{
    height: 100%;
    width: 25%;
  }

  div.overlay.menu-open{
    transition: var(--transition);
    z-index:1;
    opacity: 0.5;
  }
  div.overlay{
    opacity: 0;
    transition: var(--transition);
    z-index:-1;
  }

}

/* Mobile portrait, Pad portrait*/
@media screen and (orientation:portrait){}


/* Mobile landscape*/
@media screen and (max-width:767px) and (orientation:landscape){}


/* Desktop, Pad landscape */
@media screen and (min-width:768px) and (orientation:landscape){
  .hamburger-cont{
    display:none;
  }
  .parent-element{
    display:grid;
    grid-template-areas: "header header " "choice empty" "artwork categories";
    grid-template-rows: 10vh 10vh 80vh;
    grid-template-columns: 80vw 20vw;
  }

  .theme-choice-container{
    display:flex;
    flex-direction: column;
    grid-area:categories;
    height: 100%;
    overflow-y: auto;
  }

  div.overlay{
    display:none;
  }

  header{
    grid-area:header;
  }
  
  .artwork-choice-container{
    grid-area:choice;
  }
  
  .artwork-container{
    grid-area:artwork;
  }

  button.artwork-button{
    height: 90%;
    margin: 0.5%;
    width: 24%;
    padding: 0;
  }
}
