:root{
  --charcoal: #373737;
  --grey: #767676;
  --grey-light: #E6E6E6;
  --orange-rusty: #be4f0c;
  --orange-deep: #FF5A09;
  --orange-light: #ec7f37;
  --font-family: "Segoe UI", "Open Sans", "Helvetica Neue",sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:var(--charcoal);
  color: var(--grey-light);
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}